@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 640px) {
  .quotation-marks {
    display: none;
  }
  .skills {
    font-size:13px;
  }
  .abouttext{
    margin: 30px;
    padding-bottom: 30px;
    font-size:25px;
  }
  .gap-8.sm\:py-16.xl\:px-16 {
    margin-left:0px; /* 在小螢幕上設定左邊距 */
    margin-right: 0px; /* 在小螢幕上設定右邊距 */
  }
  .navlogo {
    height:60px; /* 在小螢幕上設定左邊距 */
    width: 35px;
  }
  #about{
    padding-top: 80px;
    padding-bottom: 80px
  }
  #projects{
    padding-top: 80px;
    padding-bottom: 80px
  }
  .contact{
    padding-top: 80px;
    padding-bottom: 80px
  }
  .skillimg{
    margin-top: 50px;
  }

  .educationmark{
    display: none;
  }
}

.container {
  padding: 25px; /* 或者使用 margin: 20px; */
}

#about{
  padding-top: 80px;
  padding-bottom: 80px
}
#projects{
  padding-top: 80px;
  padding-bottom: 80px
}
.contact{
  padding-top: 80px;
  padding-bottom: 80px
}
.skillimg{
  margin-top: 50px;
}

.quotation-marks{
  margin-top: 50px;
}
